@use '../../../partials/utils/variables' as *;
@use '../../../partials/utils/mixins' as *;

.collapse {
  width: 80%;
  margin-bottom: 31px;
  font-size: 1.125rem;
  @include mobile {
    width: 100%;
    margin-bottom: 28px;
  }
}

.toggle {
  width: 100%;
  height: 47px;
  border: none;
  border-radius: 8px;
  text-align: left;
  padding: 0px 20px;
  color: white;
  background-color: $primary-color;
  font-size: inherit;
  cursor: pointer;
  position: relative;
  z-index: 1;
  &[open] {
    & .arrow {
      &::before {
        left: 6px;
        transform: rotate(-45deg);
      }
      &::after {
        left: -3px;
        transform: rotate(45deg);
      }
    }
  }
  .arrow {
    position: absolute;
    right: 30px;
    top: 17px;
    height: 15px;
    width: 15px;
    &::before,
    &::after {
      content: '';
      position: absolute;
      bottom: 0px;
      width: 0.2rem;
      height: 100%;
      transition: all 0.2s;
    }
    &::before {
      left: 6px;
      transform: rotate(45deg);
      background-color: white;
    }
    &::after {
      left: -3px;
      transform: rotate(-45deg);
      background-color: white;
    }
  }
}
.panel {
  background-color: $secondary-color;
  padding: 40px 27px;
  color: $primary-color;
  border-radius: 8px;
  line-height: 1.5rem;
  transform: translateY(-10px);
}
