@use '../../../partials/utils/mixins' as *;

.footer {
  background-color: black;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  height: 209px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .logo {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    justify-self: end;
    flex-grow: 2;
    padding-bottom: 30px;
  }
  img {
    height: 27.94px;
    margin-right: 6px;
    &:first-child {
      margin-right: 3.5px;
      height: 36.11px;
    }
  }
  .div {
    width: 513px;
    height: 46px;
    margin: auto;
    margin-bottom: 29px;
  }
  .p {
    font-size: 1.5rem;
    color: white;
    @include mobile {
      font-size: 1rem;
    }
  }
}
